// Fonts
$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

// Colors
$black: #000000;
$white: #ffffff;
$basic-grey: #f2f2f2;
$basic-grey-2: #666666;
$basic-darkgrey: #111111;
$special-grey: #ebebeb;
$special-grey-2:#eaeaea;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;

//Sizes
$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
