.additional-product {
  padding: 10px;
}

.additional-product__link {
  text-decoration: none;
}

.additional-product__title {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $special-dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product__description-volume,
.additional-product__description-price {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}
