.checkbox {
  display: flex;
}

.checkbox__label {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 45px;

  @media (min-width: $tablet) {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
  }

  &:hover::before {
    border-color: #bababa;
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &:disabled + .checkbox__label {
    opacity: 0.3;
  }
}

.checkbox__label::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    top: 0;
    width: 40px;
    height: 40px;
  }
}


.checkbox__input:checked + .checkbox__label::after {
  display: block;
  position: absolute;
  content: "";
  top: 3px;
  left: 10px;
  width: 10px;
  height: 17px;
  border-right: 2px solid $basic-green;
  border-bottom: 2px solid $basic-green;
  transform: rotate(45deg);

  @media (min-width: $tablet) {
    top: 5px;
    left: 13px;
    width: 13px;
    height: 22px;
  }
}
