.contacts {
  position: relative;
}

.contacts__address {
  background-color: $white;

  @media (min-width: $desktop) {
    position: absolute;
    top: 95px;
  }
}

.contacts__iframe {
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet) {
    height: 400px;
  }
}
