.copyright {
  text-decoration: none;

  &:hover svg {
    color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $special-dark-grey;
}

.copyright__logo {
  color: $basic-grey-2;
}
