.main-nav {
  @media (min-width: $tablet) {
    padding-top: 2px;
    padding-right: 4px;
  }

  @media (min-width: $desktop) {
    padding-top: 4px;
    padding-right: 0;
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav--no-js {
  @media (max-width: $mobile) {
    width: 100%;
    position: relative;
    transform: translateY(14px);
  }
}

.main-nav--no-js .main-nav__list {
  @media (max-width: $mobile) {
    margin-right: -20px;
    margin-left: -20px;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $mobile) {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $mobile) {
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 1px;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 2;
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../../images/icons/stack.svg#menu-open");
  background-position: center;
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle {
  margin: 0;
  background-image: url("../../images/icons/stack.svg#menu-close");
  background-position: 6px 2px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.main-nav__toggle {
  display: block;
  margin-right: 1px;
  width: 24px;
  height: 24px;
  background-color: $white;
  border: none;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__list {
  @include list-reset();
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 33px;
    justify-content: space-between;
    background: none;
  }
}

.main-nav__item {
  position: relative;
  width: 100%;
  font-family: $font-secondary;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px #e6e6e6 solid;

  @media (min-width: $tablet) {
    .main-nav__item:last-child {
      border-bottom: 1px #e6e6e6 solid;
    }
  }


  @media (min-width: $tablet) {
    width: auto;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 23px;
  color: $black;
  text-decoration: none;

  &--white {
    @media (min-width: $desktop) {
      color: $white;
    }
  }

  &--active::before {
    @media (min-width: $tablet) {
      content: "";
      position: absolute;
      bottom: 4px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    padding-top: 12px;
    padding-bottom: 14px;
  }
}


.main-nav__link--active.main-nav__link--white::before {
  @media (min-width: $desktop) {
    background-color: $white;
  }
}
