.page-header__title {
  font-family: $font-secondary;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-header__subtitle {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}
