.products-main__list {
  @include list-reset();
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

.products-main__item {
  @media (max-width: $mobile) {
    margin-left: -20px;
    margin-right: -20px;
  }
}
