.products-additional {
  padding-top: 25px;
}

.products-additional__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: $font-secondary;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.products-additional__wrapper {
  display: grid;
  row-gap: 35px;

  @media (min-width: $tablet) {
    row-gap: 70px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.products-additional__list {
  @include list-reset();
  display: grid;
  border-top: 1px #cdcdcd solid;
  border-bottom: 1px #cdcdcd solid;

  @media (min-width: $tablet) and (max-width: 1339px) {
    border-left: 1px #cdcdcd solid;
    border-right: 1px #cdcdcd solid;
  }
}

.products-additional__item {
  display: grid;
}

.products-additional__item:not(:last-child) {
  border-bottom: 1px #cdcdcd solid;
}

.products-additional__gift {
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/gift-background-mobile@1x.jpg") type("image/jpeg") 1x, url("../../images/gift-background-mobile@2x.jpg") type("image/jpeg") 2x);
  background-color: $special-dark-grey;
  background-repeat: no-repeat;
  background-position: top;
  height: 290px;

  @media (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/gift-background-tablet@1x.jpg") type("image/jpeg") 1x, url("../../images/gift-background-tablet@2x.jpg") type("image/jpeg") 2x);
    height: 200px;
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/gift-background-desktop@1x.jpg") type("image/jpeg") 1x, url("../../images/gift-background-desktop@2x.jpg") type("image/jpeg") 2x);
    height: 288px;
  }
}

.products-additional__gift-text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $white;
  text-align: center;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#gift");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet) {
    text-align: start;
  }

  @media (min-width: $desktop) {
    text-align: center;
  }
}
