.slider {
  position: relative;
}

.slider__before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-color: $special-grey-2;

  @media (min-width: $tablet) {
    background: linear-gradient(to bottom, $white, $white 151px, $special-grey-2 151px, $special-grey-2 100%);
  }

  @media (min-width: $desktop) {
    background: linear-gradient(to bottom, $white, $white 136px, $basic-grey 136px, $basic-grey 100%);
  }
}

.slider__before-image,
.slider__after-image {
  display: block;
  object-fit: cover;
  height: 100%;
  max-width: 280px;

  @media (min-width: $tablet) {
    max-width: 560px;
  }
}

.slider__button-curtain {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  z-index: 3;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: $basic-grey-2;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $basic-grey-2;
    border-radius: 50%;
    background: $white;
  }

  &::after {
    width: 24px;
    height: 18px;
    mask-image: url("../../images/icons/stack.svg#slider-arrows");
    background-color: $basic-grey-2;
  }

  &:hover,
  &:focus {
    background-color: $basic-green;

    &::before {
      border-color: $basic-green;
    }

    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.6;
    background-color: $basic-green-2;

    &::before {
      border-color: $basic-green-2;
    }

    &::after {
      background-color: $basic-green-2;
    }
  }
}
