.text-input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &--email,
  &--phone {
    flex-direction: row-reverse;
  }
}

.text-input--email:not(:last-child) {
  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.text-input__input {
  flex-grow: 1;
  padding: 13px 15px 12px;
  border: 1px #e7e7e7 solid;

  @media (min-width: $tablet) {
    padding: 10px 20px;
  }

  &--email,
  &--phone {
    padding-right: 32px;

    @media (min-width: $tablet) {
      padding-right: 40px;
    }
  }

  &--textarea {
    width: 100%;
    min-height: 150px;
    padding-right: 14px;
    resize: none;

    @media (min-width: $tablet) {
      min-height: 175px;
    }
  }

  &--invalid {
    border-color: #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
    outline: none;
  }

  &--invalid + .text-input__label::after {
    background-color: #ff8282;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: $special-dark-grey;
    box-shadow: inset 0 0 0 1px $special-dark-grey;
    outline: none;
  }

  &:focus + .text-input__label::after {
    background-color: $basic-green;
  }
}

.text-input__label--email::after,
.text-input__label--phone::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  right: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 20px;
  background-color: $special-dark-grey-2;
  margin-top: 1px;
}

.text-input__label--email::after {
  mask-image: url("../../images/icons/stack.svg#email");
  right: 12px;

  @media (min-width: $tablet) {
    right: 14px;
  }

  @media (min-width: $tablet) {
    right: 16px;
  }
}

.text-input__label--phone::after {
  mask-image: url("../../images/icons/stack.svg#phone");
  right: 13px;

  @media (min-width: $tablet) {
    right: 14px;
  }

  @media (min-width: $tablet) {
    right: 16px;
  }
}
